@model Movies.User_info
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

<form action="/Movie/Insert" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id="Name" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" name="Age" id="Age" /></td>
        </tr>
        <tr>
            <td>Company</td>
            <td><input type="text" name="Company" id="Company" /></td>
        </tr>
        <tr>
            <td>AdressName</td>
            <td><select  name="AdressId">
                @foreach(var item in ViewBag.AdressName)
                {
                    <option value="@item.AdressId">@item.AdressName</option>
                }
                
                </select></td>
        </tr>
        <tr>
            <td>OccupationName</td>
            <td>
                <select name="OccupationId">
                    @foreach (var item in  ViewBag.OccupationName)
                    {
                        <option  value="@item.OccupationId">@item.OccupationName</option>
                    }

                </select>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="submit" value="添加" />
            </td>
        </tr>
    </table>
</form>